<%- include('partials/header') %>

<div class="app">
    <div class="app__header">
        <div class="app-name">Telegram Desktop</div>
        <div class="app-options">
            <div class="app-options__item" title="Oynani pastga tushirish">
                <img id="roll-up" src="img/icons/roll-up.svg" alt="oynani berkitish">
            </div>
            <div class="app-options__item" title="Oyna o`lchamini o`zgartirish">
                <img id="rectangle" src="img/icons/rectangle.svg" alt="oyna hajmini kichiklashtirish">
            </div>
            <div class="app-options__item" title="Dasturni yopish">
                <img id="close" src="img/icons/close.svg" alt="oynani yopish">
            </div>
        </div>
    </div>
    <div class="app__main">
        <aside class="app__sidebar">
            <header class="app__sidebar--header">
                <img id="menu-bar" src="img/icons/hamburg.svg" alt="" width="33" height="28">
                <input id="search-input" type="text" placeholder="Search">
            </header>
            <main class="chat-list">
                <ul class="chat-list__ul">
                    <% users.forEach(user => { %>
                        <li class="chat-list__li active-contact" id="<%= user.userId %>">
                            <div class="contact-img">
                                <img src="<%= user.avatar %>">
                                <div class="active-indicator"></div>
                            </div>
                            <div class="chat-info">
                                <h3 class="contact-name"><%= user.firstName[0].toUpperCase() + user.firstName.substring(1).toLowerCase() + ' ' + user.lastName[0].toUpperCase() + user.lastName.substring(1).toLowerCase() %></h3>
                                <div class="last-message"><strong>role: </strong><%= user.role %></div>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </main>
        </aside>
        <section class="chat-section">
            <header class="chat-section__header">
                <h1>Fulfil Education - Og'abek Sultonbayev - Group chat</h1>
            </header>
            <main class="chat-section__main">
                <ul class="messages-list">
                    <% messages.forEach(message => { %>
                        <li class="messages__item">
                            <% if (user.id === message['user.userId']) { %>
                                <div class="message-text send">
                                    <p><%= message.messageText %></p>
                                    <time class="message-time">12:05</time>
                                </div>
                                <div class="message-owner-img">
                                    <img src="<%= message['user.avatar'] %>" alt="">
                                </div>
                            <% } else { %>
                                <div class="message-owner-img">
                                    <img src="<%= message['user.avatar'] %>" alt="">
                                </div>
                                <div class="message-text received">
                                    <p><%= message.messageText %></p>
                                    <time class="message-time">12:05</time>
                                </div>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
                <audio id="chat-sound">
                    <source src="media/chatsound.mp3">
                </audio>
            </main>
            <footer class="chat-section__footer">
                <form class="chat-form" id="chat-form">
                    <div class="microphone-smile">
                        <div title="Ovozli xabar jo`natish">
                            <img src="img/icons/microphone.svg" alt="">
                        </div>
                        <div title="Emodjilar ro`yxati">
                            <img src="img/icons/smile.svg" alt="">
                        </div>
                    </div>
                    <textarea id="typing-field" placeholder="Type here..." required minlength="1"></textarea>
                    <input type="hidden" name="userId" value="<%= user.id %>">
                    <button id="send-message" data-avatar="<%= user.avatar %>" title="Xabarni jo`natish" type="submit">
                        <img src="img/icons/send.svg" alt="">
                    </button>
                </form>
            </footer>
        </section>
    </div>
    <div class="dark-layer-user-info hide">
        <div class="user-info">

        </div>
    </div>
</div>

<%- include('partials/footer') %>